extends layout

block content
    #mainHeader
        img(src="./images/header_main.jpg")
        button(type="button") Head straight to my resume
    
    blockquote 
        p When you have exhausted all possibilities, remember this - you haven't.
        p.author - Thomas Edison
    // This summarizes my travel
    figure#travelTimeline
        .col-md-4
            img.desaturate(src="./images/nepal_icon.png")
            figcaption From Nepal
        .col-md-4
            img.desaturate(src="./images/new_jersey.png")
            figcaption To New Jersey
        .col-md-4
            img.desaturate(src="./images/programmer.png")
            figcaption Studying Computer Science
    
    #intro
        .col-md-8
            h1.header-color Namaste!
            p I am Sujil Maharjan and I am a senior Computer Science major at Ramapo College of New Jersey. I love travelling, adventures (I am sure it is imminant through sky-diving picture), listening to music, teaching, and programming. 
        img.col-md-4(src="./images/profile_picture.jpg")
        
    #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
            li(data-target='#myCarousel', data-slide-to='3')
            li(data-target='#myCarousel', data-slide-to='4')
            li(data-target='#myCarousel', data-slide-to='5')

        // Wrapper for slides
        .carousel-inner(role='listbox')
            .item.active
                img(src='./images/photos/image1.jpg', alt='Chania') 
            .item
                img(src='./images/photos/image2.gif', alt='Chania')
            .item
                img(src='/images/photos/image3.jpg', alt='Flower')
            .item
                img(src='/images/photos/image4.jpg', alt='')
            .item
                img(src='/images/photos/image5.jpg', alt='')
            .item
                img(src='/images/photos/image6.jpg', alt='')

            


        // Left and right controls
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    
    
    #experience
        h1.header-color I also have a bit of experience
        p.small-font The rows are clickable.

        // Table containing all the relevant experiences
        table.table.table-hover.table-striped
            thead.header-color
                th(style="width: 20%") Company
                th(style="width: 60%") My role
                th(style="width: 20%") Timeline
            tbody.table-hover
                tr
                    td 
                        | GE Healthcare
                        .logo-display 
                            img(src='./images/GE-logo.png')
                    td 
                        | Software Development Leadership Program Intern
                        .display-option.description 
                            ol
                                li Developing an ability to verify the accuracy of a waveform image for SpO2 (Peripheral Capillary Oxygen Saturation) data using Java and AngularJS
                                li Implementing waveform automation in the current testing framework using Behavior Driven Development (BDD) 
                                li Adapting Agile Development process extensively in the project for high degree collaboration 
                    td June 2016 - Present
                tr
                    td 
                        | Microsoft
                        .logo-display
                            img(src='./images/MS-logo.png')
                    td 
                        | Microsoft Student Partner
                        .display-option.description
                            ol
                                li Hosted bi-weekly workshops on technologies such as Azure Machine Learning, Web Development and Internet of Things with attendance of more than 10 students
                                li Grew a strong technological community of more than 50 students and represented Microsoft on campus
                    td Jan 2016 - May 2016
                tr
                    td 
                        | Barneys New York
                        .logo-display
                            img(src='./images/BNY-logo.png')
                    td 
                        | MIS Intern
                        .display-option.description
                            ol
                                li Supported end user requests for information access to various software and frameworks on a daily basis
                                li Assisted the employees to configure and troubleshoot any issues related with computer system
                    td Jan 2016 - May 2016
                tr
                    td 
                        | Ramapo College
                        .logo-display 
                            img(src='./images/RCNJ-logo.png')
                    td 
                        | Research Assistant for Problets Project (NSF)
                        .display-option.description
                            ol
                                li Created a tool to track and analyze the user’s errors in the software, modeling an effective feedback solution for Parsons puzzles software through the error analysis
                                li Developed a User Interface to integrate Parsons puzzles and improve ease of access using Java platform
                    td Jan 2015 - Jan 2016

        p.medium-font 
            | If you would like to look at my projects, please go to my GitHub profile by clicking
            a(href='http://www.github.com/smaharj1', target="_blank") &nbsp here
    
    #skills
        h1.header-color I also have skills in few languages and technologies
        p.small-font (Hover over to find out my skill level)
        p.small-font Index: Green = High, Orange = Medium, Blue = Have encountered with it at some point
        ol
            li
                span.high Java 
            li
                span.high C++
            li
                span.medium C
            li
                span.high HTML/CSS
            li
                span.high Javascript
            li
                span.medium AngularJS
            li
                span.high MySQl
            li
                span.high MongoDB
            li
                span.high Visual Studio
            li
                span.high Eclipse
            li
                span.high IntelliJ
            li
                span.high JBehave
            li
                span.medium ImageMagick
            li
                span.medium Serenity
            li
                span.high Nepali
            li
                span.high English
            li
                span.high Hindi
            li
                span.high Newari
            
        
    #extracurricular
        h1.header-color I also handle other leadership roles
        p.small-font Please click my roles to see how I feel about my roles
        // Table containing all the relevant experiences
        table.table
            thead
                th(style='width: 33%')
                th(style='width: 33%')
                th(style='width: 33%')
            tbody
                tr
                    td
                        .col-head 
                            | //hackRamapo
                        .display-option
                            .italic Co-founder & Treasurer
                            p.description 
                                | I had a great time forming this club from ground-up with few friends. The club is dedicated to 
                                | foster innovation and creativity in technology on campus. I held  tech workshops such as web
                                | development, IoT development, Machine Learning sessions, and entrepreneurship sessions to more than
                                | 10 students per each workshop. I also managed club's budget
                    td
                    td 
                        .col-head 
                            | Google Club
                        .display-option
                            .italic Vice President
                            p.description
                                | I joined Google club since its beginning as a Vice-President. We held different events such as 
                                | recruitment by Google, profile building in LinkedIn.
                
                tr
                    td 
                    td 
                        .col-head 
                            | International Student Organization
                        .display-option
                            .italic Student Advisor
                            p.description
                                | I was a Secretary of ISO during my sophomore year. I introduced monthly ethnic cuisine and info sessions
                                | on different international cultures where more than 15 students participated. I also co-sponsored the
                                | club with many other cultural clubs on campus. Due to the increment in activities, the club budget increased by 100%
                                | for the following year. I continued as the student advisor for the club next year where I advised 
                                | club leaders on conducting cultural activities on campus.
                    td 
                tr
                    td 
                        .col-head 
                            | Ramapo TAS
                        .display-option
                            .italic Computer Science Tutor
                            p.description
                                | I tutor Computer Science to mostly freshmen and sophomores. I am a tutor for CS I, CS II, Data Structures,
                                | Assembly Language, and any other classes that I have already taken.
                    td
                    td 
                        .col-head 
                            | Computer Club,
                        .display-option
                            .italic Active Member    
                            p.description
                                | I am a very active member of Computer and Technology club. I helped several of the club events such as 
                                | hackathons, game nights and weekly meetings.

        
    
    .footer-space
        #footer
            h3.header-color So, what do you think?
            .black-bg-font Please feel free to contact me if you have any questions!

            .contacts
                a(href="http://www.github.com/smaharj1", target="_blank")
                    img(src="./images/icons/github.png")
                    span.black-bg-font Explore my GitHub
            .contacts
                a(href="https://www.facebook.com/tsujil", target="_blank")
                    img(src="./images/icons/facebook.png")
                    span.black-bg-font Ping me in Facebook
            .contacts
                a(href="https://www.linkedin.com/in/sujilmaharjan", target="_blank")
                    img(src="./images/icons/linkedin.png")
                    span.black-bg-font Link with me
            .contacts
                a(href="mailto:smaharj1@ramapo.edu", target="_blank")
                    img#gmail-logo(src="http://www.socialtalent.co/wp-content/uploads/2015/07/Gmail-Logo.png")
                    span.black-bg-font Email me

