body {
  font: 20px "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

#mainHeader {
    button {
       position: absolute; 
       top: 70vh; 
       left: 0; 

        color: white;
       font: bold 24px/45px Helvetica, Sans-Serif; 
       letter-spacing: -1px;  
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(0, 0, 0, 0.9);
       padding: 10px;
        border-style: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0px;
        
        
    }
    
    img {
        min-width: 100%;
        height: 80vh; 
        object-fit: cover;
    }
}


.margin() {
    margin-left: 10%;
    margin-right: 10%;
    
    width: auto;
}

.normalText() {
    font-size: 30px;
}

.general_padding() {
    padding-top: 150px;
    padding-bottom: 150px;
}

p, li {
    .normalText();
}

#travelTimeline {
    .margin();
    text-align: center;
    .general_padding();
    
    img {
        max-height: 200px;
    }
    
    figcaption {
        padding-top: 10px;
    }
}

img.desaturate { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#intro {
    .margin();
    margin-top: 120px;
    .general_padding();
    
    
    img {
        max-height: 350px;
        object-fit:contain;
    }
}

#passion {
   
    margin-top: 120px;
    .general_padding();
    
    ol {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    
}


.freeSpace {
    .margin();
    margin-top: 120px;
    .general_padding();
    
    margin: 100px;
}

#experience {
    .margin();
    .general_padding();
}